@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    font-family: 'Raleway', sans-serif;
}

.main {
    position: relative;
    width: 1348px;
    height: 2335px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* background: grey; */
}

.nav {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */

}

.logo img {

    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    /* left: 80px; */

}

.logo {
    position: relative;
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    left: 80px;
}

.nav ul {
    position: relative;
    display: flex;
    right: 80px;
}

.nav ul li {
    list-style: none;
    padding: 25px;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    /* line-height: 19px; */
    color: #07043B;
    transition: 1s;
}

.nav ul li:hover {
    background-color: lightgray;
    border-radius: 10px;

}

.hero {
    position: absolute;
    width: 1180px;

    height: 474px;
    left: 80px;
    top: 239px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.heroone {
    position: absolute;
    width: 577px;
    height: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #07043B;
    /* background-color: blue; */
}

.herotwo {
    position: absolute;
    width: 540px;
    height: 72px;
    margin-top: 15px;
    top: 135px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.53125px;

    color: #07043B;
    /* background-color: blue; */
}

.hero2 {
    position: absolute;
    width: 590px;
    height: 474px;
    /* background-color: red; */
    left: 590px;
}

.hero2 img {
    width: 590px;
    height: 474px;
}

.productive {
    position: relative;
    width: 1348px;
    height: 807.37px;
    /* background-color: aqua; */
    top: 820.5px;

    background-image: url("/image/Rectangle.png");

}

.productive img {
    width: 100%;
    height: 807.37px;
}

.productive1 {
    position: absolute;
    width: 600px;
    height: 500px;
    /* background-color: purple; */
    top: 195.5px;
    left: 80px;
    color: #07043B;

}

.productive2 {
    position: absolute;
    width: 500px;
    height: 409px;
    /* background-color: purple; */
    top: 219.5px;
    right: 80px;
}
.productive2 img
{
    width: 500px;
    height: 409px; 
}
.productiveone {
    position: absolute;
    width: 600px;
    height: 47px;
    /* background-color: blue; */
    font-weight: 700;
    font-size: 38px;
    line-height: 47px;
    color: #07043B;
}

.productivetwo {
    position: absolute;
    width: 540px;
    height: 48px;
    /* background-color: blue; */
    top: 85px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #07043B;

}

.productivethree {
    position: absolute;
    width: 540px;
    height: 48px;
    /* background-color: blue; */
    top: 149px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #07043B;

}

.productivefour {
    position: absolute;
    width: 120px;
    height: 22px;
    /* background-color: blue; */
    top: 212px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #3DA08F;

}
.oval{
    position: absolute;
    width: 13px;
    height: 13px;
    /* background-color: yellow; */
    top: 218px;
    left: 128px;
}
.oval img{
    position: absolute;
    width: 13px;
    height: 13px;
}
.productivefive {
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #3DA08F;
    top: 238px;

}


.productivesix {
    position: absolute;
    width: 306px;
    height: 215px;
    /* background-color: blue; */
    top: 283px;

}

.six1 {
    position: absolute;
    width: 17px;
    height: 17px;
    /* background-color: yellow; */
    top: 12px;
    left: 33px;
}
.six1 img{
    width: 17px;
    height: 17px;
}

.six2 {
    position: absolute;
    width: 246px;
    height: 92px;
    /* background-color: yellow; */
    top: 49px;
    left: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 23px;
    /* or 177% */

    letter-spacing: 0.5px;

    color: #07043B;
}

.six3 {
    position: absolute;
    width: 30px;
    height: 32px;
    /* background-color: yellow; */
    top: 157px;
    left: 30px;
}
.six3 img{
    width: 30px;
    height: 32px; 
}

.six4 {
    position: absolute;
    width: 65px;
    height: 13px;
    /* background-color: yellow; */
    top: 159px;
    left: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.55px;

    color: #07043B;
}

.six5 {
    position: absolute;
    width: 85px;
    height: 13px;
    /* background-color: yellow; */
    top: 176px;
    left: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 15px;
    /* identical to box height, or 188% */

    letter-spacing: 0.4px;

    color: #07043B;
}